@import '../../variable.less'; /*
  底部空白
*/

page {
  width: 100%;
  height: 100%;
  background-color: @background_color;
}

image {
  border-radius: 4px;
  border: 1px solid @border_color;
  box-sizing: border-box;
}

.page {
  width: 100%;
  min-height: 100%;
  padding-bottom: 44px;
  box-sizing: border-box;
}

.steps {
  padding: @gutter;
  box-sizing: border-box;
}

.cell-index--i-cell-ft {
  justify-content: flex-end;
}

.container__avatar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.f-photo {
  width: 60px;
}

.avatar {
  margin: 0 !important;
}

.container__photo {
  padding: 10px @blank;
}

.tips {
  padding: 10px @blank;
  background-color: @background_color;
}
.flex-tips{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tips-title {
  font-size: @content_size;
  color: @sub_content_color;
}

.tip {
  font-size: @sub_content_size;
  color: @sub_content_color;
}

.container_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
}
// 审核中

.checking {
  padding: 0 @blank;
}

.tip__wait {
  text-align: center;
  padding: @gutter 0;
  font-size: @content_size;
  border-bottom: 1px dashed @border_color;
}

.tip-text__wait::after,
.tip-text__wait::before {
  content: '~';
}

.checking-title {
  text-align: right;
  font-size: @content_size;
  color: @content_color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checking-title::after {
  content: '：';
  font-size: 14px;
  padding-right: @gutter_small;
}

.checking-value {
  text-align: left;
  color: @title_color;
  font-size: @title_size;
  position: relative;
}

.checking-pictures {
  vertical-align: text-bottom;
  width: @square * 3;
  margin-bottom: -@gutter;
}

.checking-photo {
  width: @square;
  height: @square;
  margin: 0 @gutter @gutter 0;
}

.checking-pictures-title {
  vertical-align: top;
}

.table {
  padding: @gutter_large 0;
}

.table-cell {
  padding-bottom: @gutter_small;
}

.container__msg {
  padding-top: 36px;
}

.container__result {
  padding: 36px @blank;
  text-align: center;
}

.container__icon {
  margin-bottom: 30px;
}

.container__desc {
  font-size: 14px;
  color: @sub_content_color;
}