{
  "presets": [
    "env"
  ],
  "plugins": [
    ["import", {
      "libraryName": "iview",
      "libraryDirectory": "src/components"
    }],
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}