@import '../../variable.less';
page{
  background-color: @background_color;
  width: 100%;
  min-height: 100%;
}
.page{
  padding: @gutter_small @blank;
  
}
.list{
  
}
.list-item{
  border-bottom: 1px solid #dddee1;
  overflow: hidden;
  box-shadow: @shadow;
  padding: 0 @gutter_small @gutter_small;
  margin-top: @gutter;
  background-color: #fff;
  border-radius: 6px;
}
.list-item_0{
  margin-top: 0;
}
.title{
  display: flex;
  flex-direction: row;
  color: #80848f;
  padding: 12px 0;
}
.title-left{
  flex-grow: 1;
  flex-shrink: 1;
}
.title-right{
  flex-shrink: 0;
  flex-grow: 0;
}
.title-left, .title-right{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  vertical-align: middle;
}
.title-icon{
  width: 24px;
  height: 24px;
  float: left;
}
.title-text{
  float: left;
  margin-left: 6px;
}
.main{
  overflow: hidden;
}
.message-desc{
  font-size: 14px;
  color: #1c2438;
  padding-bottom: 8px;
}
.order{
  display: flex;
}
.order-desc{
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
}
.order-img{
  width: 260rpx;
  height: 120rpx;
  vertical-align: text-bottom;
  border-radius: 2px;
}
.order-text{
  margin-left: 8px;
  font-size: 16px;
  color: #2d8cf0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.order-operate{
  // flex-basis: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-end;
}

.button-index--i-btn{
  height: 26px !important;
  line-height: 26px !important;
  margin: 0 !important;
}
.center{
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  margin-left: @gutter;
}
.order-price{
  color: @warning;
  font-size: 14px;
}
.order-name{
  color: @title_color;
  font-size: @title_size;
}