.page{
  padding: 0 25rpx;
}
.list{
  
}
.list-item{
  border-bottom: 1px solid #dddee1;
  overflow: hidden;
  padding-bottom: 12px;
}
.title{
  display: flex;
  flex-direction: row;
  color: #80848f;
  padding: 12px 0;
}
.title-left{
  flex-grow: 1;
  flex-shrink: 1;
}
.title-right{
  flex-shrink: 0;
  flex-grow: 0;
}
.title-left, .title-right{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  vertical-align: middle;
}
.title-icon{
  width: 24px;
  height: 24px;
  float: left;
}
.title-text{
  float: left;
  margin-left: 6px;
}
.main{
  overflow: hidden;
}
.message-desc{
  font-size: 14px;
  color: #1c2438;
  padding-bottom: 8px;
}
.order{
  display: flex;
}
.order-desc{
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-img{
  width: 260rpx;
  height: 120rpx;
  vertical-align: text-bottom;
  border-radius: 2px;
}
.order-text{
  margin-left: 8px;
  font-size: 16px;
  color: #2d8cf0;
  vertical-align: text-bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.order-operate{
  // flex-basis: 60px;
  flex-grow: 0;
  flex-shrink: 0;
}