.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px;
}
.money-detail{
  padding: 12px 0; 
  color: #1c2438;
  font-size: 16px;
  font-weight: 600;
}
.money-desc{
  padding-bottom: 12px;
  color: #495060;
  font-size: 13px;
}