@import '../../variable.less';

page {
  background-color: #fff;
  width: 100%;
  min-height: 100%;
}

.page {
  padding: 0 @blank;
  width: 100%;
  box-sizing: border-box;
}

.textarea {
  width: 100%;
  padding: @gutter_small;
  box-sizing: border-box;
  background-color: @background_color;
}

textarea {
  background: @background_color !important;
}

.title {
  font-size: @title_size;
  color: @title_color;
  padding-bottom: @gutter;
}

.label {
  font-size: @sub_content_size;
  color: @sub_content_color;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  word-break: keep-all;
}

.label::after {
  content: ':';
  padding-left: 3px;
  padding-right: 20rpx;
}

.content {
  font-size: @content_size;
  color: @content_color;
  text-align: left;
}

.container__rate {
  text-align: center;
  padding: @gutter * 2 0;
  background-color: #fff;
}

.rate {
  width: 100%;
}

.container__message {
  padding: @gutter 0;
  border-bottom: 1px solid @border_color;
  background-color: #fff;
  box-sizing: border-box;
}

.content__main {
  min-width: 400rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-cell {
  padding-bottom: @gutter_small;
}

.evaluate {
  display: flex;
  flex-direction: row;
  padding: @gutter_small @blank * 3;
  box-sizing: border-box;
  justify-content: space-around;
}

.img {
  width: 98rpx;
  height: 98rpx;
}