@import '../../variable.less';

page {
  background-color: #F3F3F3;
}
.page{
	padding-bottom: 50rpx;
}

.container__avatar {
	display: flex;
	flex-direction: row;
  padding: 42rpx 30rpx;
	background-color: #fff;
	border-bottom: 1rpx solid #F3F3F3;
}

.avatar {
  width: 132rpx;
  height: 132rpx;
  border-radius: 132rpx;
	border: 1px solid #F3F3F3;
	box-sizing: content-box;
}

.nickname {
  font-size: 34rpx;
  color: #292f3d;
  padding-left: 22rpx;
	padding-top: 22rpx;
	font-weight: 500;
}

.list {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
	padding-top: 27rpx;
	padding-bottom: 33rpx;
	background-color: #fff;
	margin-bottom: 22rpx;
}

.item {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.title {
  font-size: 28rpx;
  color: #2d2d2d;
}

.desc {
  font-size: 28rpx;
  color: #2fb97d;
  font-weight: 600;
	margin-bottom: 18rpx;
}

.gutter {
  margin-bottom: 20rpx;
}