@import '../../variable.less';

page {
  background-color: @background_color;
}

.container__avatar {
  padding: 40px @blank;
  text-align: center;
  box-sizing: border-box;
}

.avatar {
  width: 150rpx;
  height: 150rpx;
  border-radius: 150rpx;
}

.nickname {
  font-size: @title_size;
  color: @title_color;
  padding-top: @gutter;
}

.list {
  padding: 0 @blank @gutter_small;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.item {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.title {
  font-size: @title_size;
  color: @title_color;
}

.desc {
  font-size: @content_size;
  color: @success;
  font-weight: 600;
}

.gutter {
  margin-bottom: @gutter;
}